* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #edefee;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header > img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
nav {
  background-color: #d0604c;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  margin-top: 4rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline-block;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: #edefee;
  font-size: 1.2rem;
  font-weight: bold;
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: rgb(237, 239, 238);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

section {
  display: flex;
  gap: 4rem;
  margin-top: 8rem;
}

article {
  flex: 1;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transition: transform 0.5s ease-out;
  transform: translateY(0);
}

article:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-8px) scale(1.05);
}

.promotion {
  min-height: 50vh;
  background-image: linear-gradient(
      rgba(237, 229, 238, 0.7),
      rgba(184, 80, 62, 0.7)
    ),
    url("https://source.unsplash.com/800x450/?haircut");
  background-size: cover;
  background-position: center;
  transition: 0, 5s ease-out;
}

.promotion > * {
  color: #fff;
  padding: 2rem;
}

.promotion > p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.promotion:hover > h1,
.promotion:hover > p,
.article:hover > h2,
.article:hover > p {
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

a.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  transition: 0.25s ease-out;
}

a.btn-margin-2 {
  margin-left: 2rem;
}

a.btn-full {
  width: 100%;
}

a.btn-primary {
  color: #d0604c;
  background-color: #fff;
}

a.btn:hover,
a.btn:focus {
  background-color: #b8503e;
  color: #fff;
  border: 1px solid #b8503e;
}

.article {
  background-size: cover;
  background-position: center;
  transition: 0, 5s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}

.article > * {
  color: #fff;
  line-height: 1.5;
}

.book {
  background-image: linear-gradient(
      rgba(237, 229, 238, 0.7),
      rgba(17, 17, 17, 0.7)
    ),
    url("https://source.unsplash.com/450x450/?hairdresser");
}

.tutorials {
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.7),
      rgba(237, 229, 238, 0.7)
    ),
    url("https://source.unsplash.com/450x450/?makeup");
}

.about {
  background-image: linear-gradient(
      rgba(237, 229, 238, 0.7),
      rgba(17, 17, 17, 0.7)
    ),
    url("https://source.unsplash.com/450x450/?hair salon");
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > div {
  margin-top: 4rem;
  flex: 1;
}

footer > div > img {
  height: 40px;
  align-self: flex-start;
}

footer > div > p {
  font-size: 0.8rem;
  text-align: right;
}
